In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [47]:
ds = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
id = test['PassengerId']

In [5]:
ds = ds.drop(['Name','Ticket','Cabin','PassengerId'],axis = 1)

In [7]:
ds

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical column
ds['Sex'] = label_encoder.fit_transform(ds['Sex'])

print(ds)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    1  22.0      1      0   7.2500        S
1           1       1    0  38.0      1      0  71.2833        C
2           1       3    0  26.0      0      0   7.9250        S
3           1       1    0  35.0      1      0  53.1000        S
4           0       3    1  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    1  27.0      0      0  13.0000        S
887         1       1    0  19.0      0      0  30.0000        S
888         0       3    0   NaN      1      2  23.4500        S
889         1       1    1  26.0      0      0  30.0000        C
890         0       3    1  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [15]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical column
ds['Embarked'] = label_encoder.fit_transform(ds['Embarked'])

print(ds)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [75]:
def clean(ds):
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
        ds[col].fillna(ds[col].median())
    ds.Embarked.fillna('U')
    return ds
ds= clean(ds)

In [31]:
ds

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0  28.0      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [71]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical column
test['Sex'] = label_encoder.fit_transform(test['Sex'])

test

     Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0         3    1  34.5      0      0    7.8292        Q
1         3    0  47.0      1      0    7.0000        S
2         2    1  62.0      0      0    9.6875        Q
3         3    1  27.0      0      0    8.6625        S
4         3    0  22.0      1      1   12.2875        S
..      ...  ...   ...    ...    ...       ...      ...
413       3    1   NaN      0      0    8.0500        S
414       1    0  39.0      0      0  108.9000        C
415       3    1  38.5      0      0    7.2500        S
416       3    1   NaN      0      0    8.0500        S
417       3    1   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [73]:
label_encoder = LabelEncoder()

# Fit and transform the categorical column
test['Embarked'] = label_encoder.fit_transform(test['Embarked'])

test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
413       3    1   NaN      0      0    8.0500         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2
416       3    1   NaN      0      0    8.0500         2
417       3    1   NaN      1      1   22.3583         0

[418 rows x 7 columns]

In [77]:
def clean(test):
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
        test[col].fillna(test[col].median())
    test.Embarked.fillna('U')
    return test
test= clean(test)

In [79]:
test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
413       3    1   NaN      0      0    8.0500         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2
416       3    1   NaN      0      0    8.0500         2
417       3    1   NaN      1      1   22.3583         0

[418 rows x 7 columns]

In [33]:
x = ds.drop(columns = 'Survived', axis = 1)
y = ds['Survived']

In [35]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, stratify = y, random_state = 1)

In [39]:
model = svm.SVC(kernel = 'linear')
model.fit(x_train, y_train)

SVC(kernel='linear')

In [41]:
train_pred = model.predict(x_train)
train_acc = accuracy_score(train_pred, y_train)
print('Accuracy is : ', train_acc)

Accuracy is :  0.7907303370786517

In [43]:
test_pred = model.predict(x_test)
test_acc = accuracy_score(test_pred, y_test)
print('Accuracy is : ', test_acc)

Accuracy is :  0.7988826815642458

In [102]:
test['Age'] = test['Age'].fillna(test['Age'].median())
test['Pclass'] = test['Pclass'].fillna(test['Pclass'].median())
test['Sex'] = test['Sex'].fillna(test['Sex'].median())
test['SibSp'] = test['SibSp'].fillna(test['SibSp'].median())
test['Parch'] = test['Parch'].fillna(test['Parch'].median())
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  34.5      0      0    7.8292         1
1         3    0  47.0      1      0    7.0000         2
2         2    1  62.0      0      0    9.6875         1
3         3    1  27.0      0      0    8.6625         2
4         3    0  22.0      1      1   12.2875         2
..      ...  ...   ...    ...    ...       ...       ...
413       3    1  27.0      0      0    8.0500         2
414       1    0  39.0      0      0  108.9000         0
415       3    1  38.5      0      0    7.2500         2
416       3    1  27.0      0      0    8.0500         2
417       3    1  27.0      1      1   22.3583         0

[418 rows x 7 columns]

In [110]:
sub_pred = model.predict(test)
ds = pd.DataFrame({'PassengerId' : id.values,
                   'Survived' : sub_pred,
                  })
ds.to_csv('submission.csv', index = False)

D:\anaconda\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(